<% if @parent_node.name == 'node' %>
	<b>Parent Node:</b>
	<% @parent_node.each_child do |element| %>
		<% if element.name == 'node_name' %>
			<b><%= link_to element.content, :controller => "conversion", :action => "render_node", :id => @parent_atlas_node_id.value %></b></br>
		<% end %>
	<% end %>
	<% parent_attributes = @parent_node.attributes %>
	<% parent_attributes.each do |attribute| %>
		Attribute: <%= attribute.name %>=<%= attribute.value %></br>
	<% end %>
<% end %>
<% @node.each_child do |element| %>
	<% if element.name == 'node_name' %>
		<b>Current Node:</b>
		<b><%= element.content %></b></br>
		(Atlas Node ID=<%=@atlas_node_id%>, Geo ID=<%=@geo_node_id%>)</br>
		<p><%= @overview.content %></p>
<!-- subordinate destinations -->	
	<% elsif element.name == 'node' %>	
		<% element.each_child do |element2| %>
			<% if element2.name == 'node_name' %>		
				<% attributes2 = element.attributes %>
				<% atlas_node_id2 = attributes2.get_attribute('atlas_node_id') %>
		    	<% if atlas_node_id2 == nil %>
		      		<% atlas_node_id2 = attributes2.get_attribute('geo_id') %>    
		    	<% end %>
				<b>Child Node:</b>
				<b><b><%= link_to element2.content, :controller => "conversion", :action => "render_node", :id => atlas_node_id2.value %></b></br>
			<% end %>
		<% end %>
		<% @attributes = element.attributes %>
		<% 
		@attributes.each do |attribute|
		%>	
			Attribute: <%=attribute.name%>=<%=attribute.value%></br>
		<% 
		end
		%>	
	<% end %>
	</br>
<% end %>